In [1]:
#non default

def name(fname, mname , lname):
    print("fname is" , fname)
    print("mname is" , mname)
    print("lname is" , lname)
    
    
name("harishree","ramesh","gajanderan")

fname is harishree
mname is ramesh
lname is gajanderan

In [2]:
#pos

name(lname ="gajenderan", fname= "harishree" , mname = "ramesh")

fname is harishree
mname is ramesh
lname is gajenderan

In [5]:
#def

def name(fname = None, mname =None , lname =None):
    print("fname is" , fname)
    print("mname is" , mname)
    print("lname is" , lname)
name("harishree")

fname is harishree
mname is None
lname is None

In [6]:
def name(fname, mname , lname):
    print("fname is" , fname)
    print("mname is" , mname)
    print("lname is" , lname)
    
    
name("harishree","ramesh", lname ="hjjh")

fname is harishree
mname is ramesh
lname is hjjh

In [10]:
def test(*args):
    print(args)
    one = args[0]
    print(one)

In [12]:
test("name", 1,2,3,4,5)

('name', 1, 2, 3, 4, 5)
name

In [24]:
def test(*kwargs):
    print(kwargs)
    name = kwargs.get("name","try")
    print(kwargs)
    name(add = "harishree", ags = "ggg", loc = "chennai")
    print(name)

In [26]:
def test(a: int , b:str)->str:
    print(a,type(a))
    print(b,type(b))
    b= 123
    return b
b= test("123",123)

123 <class 'str'>
123 <class 'int'>

In [27]:
print(b)

123

In [28]:
print(type(b))

<class 'int'>